extends layout

block content
  nav
    h1= title

  main.content
    div.content-display
      div#thp
         a(href='/category/thp')
          p Click to view range of our #{data.thp_count} Tobacco Heating Products

      div#vapes
        a(href='/category/vapes')
          p Click to view our range of #{data.vape_count} Vapes

  footer
    div.footer-content
      p Hello
