extends layout

block content
  nav
    div.nav-content
      div.nav-text
        p #{title}
    div.nav-links
      a(href='/')
        p Home


  main.content
    div.content-display
      div#thp
         a(href='/category/thp')
          p Click to view range of our #{data.thp_count} Tobacco Heating Products

      div#vapes
        a(href='/category/vapes')
          p Click to view our range of #{data.vape_count} Vapes

  footer
    div.footer-content
      p Copyright © 2022, GitHub // Mika.dev
    div.footer-border
