extends layout

block content
  nav
    div.nav-content
      div.nav-text
        p BAT Portfolio
    div.nav-links
      a(href='/')
        p Home


  main.content
    div.content-display
      div.left-content
        h2.content-heading A step-change in New Categories remains one of our three corporate priorities
        p.content-text Satisfying consumer needs is at the heart of what we do. We are on a journey to become a business that defines itself not by the products it sells but by the consumer needs they meet. Making a step-change in New Categories is one of the three main priorities for the business to succeed in building A Better Tomorrow. And our strong global New Category brands will underpin that journey.
        p.content-text Our ambition for the near future is clear – to become a global leader in vapour and modern oral and a strong second in tobacco heating products. To succeed, we need the support and dedication from everyone in BAT. Celebrate with us as we share our successes in our New Category brands.
        div.content-end
          p Charmika Devendra
          p Mechanical Engineer, Research & Development
      div.right-content
        div#thp
          h3.content-heading Our Product Range
          p.content-text Vuse and Glo are our leading devices in Vapour and THP.
          p.content-text Vuse is established as the global leader in Vapour, with a clear pathway to profitability
          p.content-text Glo is about leveraging and improving consumer satisfaction and innovation pipeline to be the fasted growing THP Brand
          a(href='/category/thp')
            p.content-text.text-link Click here to view range of our #{data.thp_count} Tobacco Heating Products

        div#vapes
          a(href='/category/vapes')
            p.content-text.text-link Click here to view our range of #{data.vape_count} Vapes

        div#info
          img.my-image(src='../images/CD.jpg')
          div
            p -> Meet Mika
  footer
    div.footer-content
      p Copyright © 2022, GitHub // Mika.dev
    div.footer-border
