extends layout

block content
  nav
    div.nav-content
      div.nav-text
        p #{title}
    div.nav-links
      a(href='/')
        p Home


  main.content
    div.content-display
      div.left-content
        h2.content-heading A step-change in New Categories remains one of our three corporate priorities
        p.content-text Satisfying consumer needs is at the heart of what we do. We are on a journey to become a business that defines itself not by the products it sells but by the consumer needs they meet. Making a step-change in New Categories is one of the three main priorities for the business to succeed in building A Better Tomorrow. And our strong global New Category brands will underpin that journey.
        p.content-text Our ambition for the near future is clear – to become a global leader in vapour and modern oral and a strong second in tobacco heating products. To succeed, we need the support and dedication from everyone in BAT. Celebrate with us as we share our successes in our New Category brands.
        div.content-end
          p Charmika Devendra
          p Mechanical Engineer, Research & Development
      div.right-content
        div#thp
          a(href='/category/thp')
            p Click to view range of our #{data.thp_count} Tobacco Heating Products

        div#vapes
          a(href='/category/vapes')
            p Click to view our range of #{data.vape_count} Vapes
  footer
    div.footer-content
      p Copyright © 2022, GitHub // Mika.dev
    div.footer-border
