extends layout

block content
    nav
        div.nav-content
            div.nav-text
                p BAT Portfolio
        div.nav-links
            a(href='/')
                p Home


    main.content
        div.list-page-container
            div.list-display
                each item in thp_list
                    div.list-item
                        a(href=item.url)
                            p.content-text #{item.name}

            div
                a(href='/category/thp/create')
                    p.text-button#thp-create Add your own device to this list!
    footer
        div.footer-content
            p Copyright © 2022, GitHub // Mika.dev
        div.footer-border
