extends layout

block content
    nav
        div.nav-content
            div.nav-text
                p BAT Portfolio
        div.nav-links
            a(href='/')
                p Home


    main.content
        div.content-display

    footer
        div.footer-content
            p Copyright © 2022, GitHub // Mika.dev
        div.footer-border
