extends layout

block content
    nav
        div.nav-content
            div.nav-text
                p #{title}
        div.nav-links
            a(href='/')
                p Home


    main.content
        div.content-display