body {
  font: 14px "Segoe UI", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100vw;
  min-height: calc(100vh - 105px);
  margin-top: 105px;
  display: flex;
  justify-content: center;
}

.content-display {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% - 50px);
  flex-wrap: wrap;
}

.left-content {
  width: 35rem;
  margin: 20px;
}

.right-content {
  width: 35rem;
  margin: 20px;
}

.content-heading {
  font-size: 28px;
  color: #00BCF2;
}

.detail-content-heading {
  font-size: 28px;
  color: #00BCF2;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid whitesmoke;
}

.content-text {
  font-size: 16px;
}

.content-end {
  font-size: 20px;
  margin-top: 30px;
  color: #00BCF2;
  font-weight: normal;
}

.my-image {
  width: 300px;
  height: auto;
  border: 1px solid #004f9f;

}

.text-button {
  background-color: #004f9f;
  color: white;
  width: 100px;
  padding: 10px;
}

.update-device {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #afca0b;
}

.delete-device {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #ef7d00;
}

.text-link {
  border-radius: 5px;
}

.list-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.list-display {
  display: flex;
}

.list-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 450px;
  border-radius: 5px;
}

#thp-create {
  width: 200px;
  border-radius: 5px;
}

.device-image {
  width: 100px;
  height: auto;
}

.device-image-null {
  width: 100px;
  height: 217px;
}
.info-text {
  font-size: 15px;
  padding: 0;
  margin: 3px;
}

.custom-list-item:hover {
  background: whitesmoke;
}

.submit-delete {
  background-color: #004f9f;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.submit-delete:hover {
  background-color: #e72582;
}